#box
{
    height:50px;
    width:50px;
    border:10px solid wheat;
    border-top:10px solid black;
    border-radius:50%;
    animation: spinAnimation 0.5s ease-in 0s infinite normal ;
    position:absolute;
    top:100px;
}
@keyframes spinAnimation
{ 
    /* from
    {
        transform:rotate(0deg);
    }
    to
    {
       transform:rotate(360deg);
    } */
      0%
    {
        border:10px solid wheat;
        border-top:10px solid black;
    }
    25%
    { border:10px solid wheat;
        border-right:10px solid black;
        
    }
     50%
    { border:10px solid wheat;
        border-bottom:10px solid black;
         
    }
     100%
    { border:10px solid wheat;
        border-left:10px solid black;
        
    }



}
body{
    display:flex;
    justify-content:center;
    align-items: center;
}