#l1{
    height:1000px;
    background-color: #0f1111;
}
a{
    color:white;
    margin-right:200px;
 text-decoration: none;
}
button{
    background-color: #f08804;

}
#abc{
font-size: 25px;
color:yellow;

}
p{
    color:white;
     font-size: 35px;

}
#xyz
{
    background-color:orange;
}