* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**.......................... Logo  ..............................**/
.nav-logo {
    height: 50px;
    width: 120px;
}

.logo {
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/**.......................... Box 2 ..............................**/
#deliver {
    margin-left: 21px;
    color: #CCCCCC;
    font-size: 0.85rem;
}

#india {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.symbol {
    display: flex;
    align-items: center;
}

/**........................ Search Bar ..........................**/
.search-bar {
    display: flex;
    align-items: center;
    width: 600px;



}

.search-input {
    width: 100%;
    height: 38px;
    font-size: 15px;
    border-style: none;

}

.search-select {
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    background-color: #ffffffe4;

}

.search-icon {
    background-color: rgb(225, 186, 115);
    height: 40px;
    width: 40px;
    /* border-radius:4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.search-icon i {
    color: black;
}

.search-bar:hover {
    border: 2px solid orange;
    border-radius: 4px;
}

/**.......................... Box 4 ..............................**/
.flag-box {
    height: 45px;
    width: 46px;
    /* display:flex;
align-items:center; */
}

.flag {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.flag p {
    font-weight: 700;
}

button {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #0f1111;
    border-style: none;
}

button i {
    margin-top: 8px;
    color: white;
}

/**.......................... Box 5 ..............................**/
.signin {
    height: 42px;
    line-height: 15px;
}

.sign {
    font-size: 12px;
}

.accounts {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    width: 68px;

}

.b {
    display: flex;
}

.List {
    display: flex;
}

/**.......................... Box 6 ..............................**/
.Ret {
    display: flex;
    flex-direction: column;
}

.return {
    font-size: 12px;
}

.orders {
    font-size: 14px;
    font-weight: 700;
}

/**.......................... Box 7 ..............................**/
.bucket i {
    font-size: 32px;

}

.textC {
    font-weight: 700;
    padding-top: 15px;
}

.cart {
    display: flex;
    margin-right: 20px;
}

/**.......................... PANEL .............................**/

.panel {
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.All {
    padding: 9px 8px 9px 8px;
    font-weight: 700;
}

ul {
    color: white;
    display: flex;
    padding: 0px;

}

li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin: 5px 0 6px 0;
    padding: 8px 5px;
    font-weight: 500;
    font-size: 14px;

}

/**........................................HERO SECTION.................................**/
.hero {
    background-color: rgba(240, 248, 255, 0.855);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end
}

.hero1 {
    background-image: url("hero_main.jpg");
    background-size: cover;
    height: 350px;
    width: 100vw;
    padding-top: 20px;
}

.click {
    color: #0f1111;
    background-color: #f5f6f6;
    text-align: center;
    padding: 10px 14px;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    width: 95%;
    position: absolute;
    bottom: 300px;
}

.buttonRight {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 107px;
    right: 0px;
    height: 250px;
    width: 84px;
    color: white;

}

.buttonLeft {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 107px;
    left: 0px;
    height: 250px;
    width: 84px;
    color: white;
}

.buttonRight {
    font-size: 30px;
    text-shadow: 2px 2px 2px black;

}

.buttonLeft i {
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

/**............................. SHOPBOXES ..................................**/
.shop-section {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box {
    width: 22%;
    /* border:2px solid black; */
    margin-bottom: 20px;
    background-color: white;
    position: relative;
    bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.shopbox1-image {
    background-image: url("box1_image.jpg");
    background-size: cover;
    height: 340px;
    margin: 20px 10px 15px 10px;

}

h2 {
    padding: 20px 15px 15px 15px;
}

.shopbox2-image {
    background-image: url("box2_image.jpg");
    background-size: cover;
    height: 340px;
    margin: 20px 10px 15px 10px;

}

.box a {
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 0.7rem;
}

.shopbox-link {
    margin-top:20px;
    color: #0d57a1;
    font-weight: 500;
}
.shopbox-link:hover
{
 color:#0F1111;
}

.shopbox3-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.shopbox3-imgtxt1 {
    background-image: url("s3img1.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

}



.shopbox3-imgtxt2 {
    background-image: url("s3img2.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox3-imgtxt3 {
    background-image: url("s3img3.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox3-imgtxt4 {
    background-image: url("s3img4.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}
.shopbox4-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.shopbox4-imgtxt1 {
    background-image: url("sp4_img1.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

}



.shopbox4-imgtxt2 {
    background-image: url("sp4_img2.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox4-imgtxt3 {
    background-image: url("sp4_img3.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox4-imgtxt4 {
    background-image: url("sp4_img4.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}
.shopbox5-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.shopbox5-imgtxt1 {
    background-image: url("s5_i1.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

}



.shopbox5-imgtxt2 {
    background-image: url("s5_i2.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox5-imgtxt3 {
    background-image: url("s5_i3.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}

.shopbox5-imgtxt4 {
    background-image: url("s5_i4.jpg");
    background-size: cover;
    height: 120px;
    width: 130px;
    margin: 10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;



}
.shopbox-txt{
    position: relative;
    top: 20px;
    font-size: 0.85rem;
    color: #0F1111;
    font-weight: 550;
}
/**............................. LONG BOX ......................................**/
.longbox {
    width:100vw;
    height:260px;
    background-color:white;
    margin: 20px 20px 20px 20px;

   
}
.long-content
{
    height:69%;
    margin-bottom:5px;
    display:flex;
    justify-content:space-evenly;
}
.img
{
    height:100%;
    width:200px;
    padding: 5px 5px 5px 5px;
    margin:0 10px 10px 10px;
}
.img1
{
    background-image:url("b1.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img2
{
    background-image:url("b2.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img3
{
    background-image:url("b3.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img4
{
    background-image:url("b4.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img5
{
    background-image:url("b5.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img6
{
    background-image:url("b6.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
/**.............................FOOTER......................................**/
footer {
    background-color: #0f1111;
    color: white;
    height: 500px;
}

.top {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 0.85rem;
    font-weight: 600;
}

/**............................FOOTER-LISTS...................................**/
.list2 {
    display: flex;
    flex-direction: column;
}

.l2 {
    padding: 5px 4px;
    margin: 0px;
    color: #DDD;
    display: block;
}

.additional-services {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.arrow {

    font-size: 0.5rem;
}

.l2 :hover {
    border-bottom: 0.5px solid white;
}

.nav-footer {
    height: 40px;
    border-bottom: 0.01px solid rgba(255, 255, 255, 0.289);
}

/**........................logo,country,language tab........................**/
.nav-logo2 {
    height: 50px;
    width: 120px;
    padding-left: 70px;
}

.language-country {
    margin: 20px 70px 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.b1 {
    border: 1px solid #848688;
    background-color: #0f1111;
    color: #CCC;
    height: 35px;
    width: 150px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
    margin-left: 10px;

}

.b1 i {
    padding-bottom: 7px;
}

.buttons {
    display: flex;
    position: relative;
    right: 89px;

}