* {
    background-color: black;
}

.circles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.one {
    background-color: red;
    animation: practice 2s infinite;
}

.two {
    background-color: blue;
    animation: practice 2s infinite;
}

.three {
    background-color: green;
    animation: practice 2s infinite;
}

.four {
    background-color: yellow;
    animation: reversal 2s infinite;
}

.five {
    background-color: pink;
    animation: reversal 2s infinite;
}

.six {
    background-color: purple;
    animation: reversal 2s infinite;
}

h1 {
    color: #ffffff;
    opacity: 0;
    animation: visible 4s infinite;
    position:fixed;
    top:50%;
    left:50%;
    right:50%;
    
    
}
.heading
{
    width:100vw;
    display:flex;
    justify-content:center;
}

@keyframes practice {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0px);
        transform: translateX(300px);
    }
}
@keyframes reversal
{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(100vh);
        transform: translateX(-300px);
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform:scale(5);
    }

}