*{
    background-color: black;
}
*{
 color:white;

}
#01
{
    color:white;

}
#69
{
    width:168px;
    height: 36px;
    text-decoration-color: aquamarine;
    border-color: white;
    border-style: dashed;
    border-width:36px ;
    

}